html {    
    h1 {
        font-size: 36px;
    }
    
    font-family: "Roboto";
    
}

body {
    margin-bottom: 44px;
    font-family: "Roboto";
    
    .class-title {
        margin-bottom: 10px;
    }
    
    .date-name {
        margin-top: 35px;
    }

    .not-a-link {
        color: black;
        text-decoration: none;
    }

    .not-a-link:hover {
        text-decoration: none;
    }
    
    .article_picture {
        width:80%;
        margin-right: auto;
        margin-left: auto;
    }

    .publication-title{
        margin-bottom: 6px;
    }

    .publication-link{
        font-style: italic;
        margin-left: 10px;
    }

    .publication-link-page{
        font-style: italic;
        margin-right: 20px;
    }

    .authors{
        font-style : italic;
    }

    .author-name{
        margin-right: 5px;
    }

    pre {
        padding: 1rem;
        overflow: auto;
        font-size: 14px;
        border-radius: 5px;
      }
      // The line numbers already provide some kind of left/right padding
      pre[data-linenos] {
        padding: 1rem 0;
      }
      pre table td {
        padding: 0;
      }
      // The line number cells
      pre table td:nth-of-type(1) {
        text-align: center;
        user-select: none;
      }
      pre mark {
        // If you want your highlights to take the full width.
        display: block;
        // The default background colour of a mark is bright yellow
        background-color: rgba(254, 252, 232, 0.9);
      }
      pre table {
        width: 100%;
        border-collapse: collapse;
      }
}

aside {
    float: left;
    width: 350px;
    text-align:center;
    height:90vh;

    @media (max-width: 700px) {
        display:none;
    }
    
    div {
        vertical-align: middle;
        height:400px;
    }
    
    a {
        margin: 5px;
        display:inline-block;
        text-decoration: none;
        color: black;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    img {
        width:200px;
        height: 200px;
        display:block;
        margin: auto;
        border-radius: 200px;
    }
    
    .svg {
        height: 30px;
        margin: 0px 2px;
        width: auto;
    }
    
    hr {
        width: 50px;
    }
}

section {
    @media (max-width: 700px) {
        margin-left: 10px;
        text-align: center;
        
        ul {
            padding:0;
        }
    }
    @media (min-width: 700px) {
        margin-left: 350px;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
    margin-right:10px;

    .container {
        max-width: 40em;
        margin: 0 auto;
    }
}

nav {

    @media (min-width: 700px) {
        display:none;
    }
    text-align:center; 
    
    a {
        display: inline-block;
        color: black;
        text-decoration: none;
        padding: 5px;
        border: solid 1px black;
    }
    
    a:hover {
        text-decoration: underline;
    }
}

footer {
    @media (min-width: 700px) {
        display:none;
    }
    text-align:center; 
    
    .svg {
        height: 30px;
        margin: 2px 2px;
        width: auto;
        filter: invert(1);
    }

    position: fixed;
    left:0px;
    top: calc(100% - 34px);
    height:34px;
    width:100%;
    z-index: 0;
    background-color:black;
}

