<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% block js %}
      {% if config.extra.katex_enable %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">

      <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.js" integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx" crossorigin="anonymous"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/contrib/mathtex-script-type.min.js" integrity="sha384-zWYbd0NBwgTsgIdFKVprSfTh1mbMPe5Hz1X3yY4Sd1h/K1cQoUe36OGwAGz/PcDy" crossorigin="anonymous"></script>
          {% if config.extra.katex_auto_render %}
      <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/contrib/auto-render.min.js" integrity="sha384-kmZOZB5ObwgQnS/DuDg6TScgOiWWBiVt0plIRkZCmE6rDZGrEOQeHM5PcHi+nyqe" crossorigin="anonymous"
              onload="renderMathInElement(document.body);"></script>
          {% endif %}
      {% endif %}
    {% endblock js %}

    {% block css %}
        {% if config.extra.katex_enable %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">
        {% endif %}
    {% endblock css %}
    <title>Alexandre Louvet</title>
  </head>

  <body>
    <aside class="menu">
      <div>
        <img src="{{get_url(path="/media/pp.jpg")}}" alt="A picture of me" /> <br>
        <a href="{{get_url(path="/")}}">About</a><br>
        <a href="{{ get_url(path="@/publications/_index.md") }}">Publications</a><br>
        <a href="{{ get_url(path="@/talks/_index.md") }}">Talks</a><br>
        <a href="{{ get_url(path="@/teaching/_index.md") }}">Teaching</a><br>
        <a href="{{ get_url(path="@/blog/_index.md") }}">Misc</a><br>
        <hr>
        <a href="https://gitlab.com/louveta"><img class="svg" src="{{get_url(path="/media/gitlab.svg")}}" alt="Gitlab"></a>
        <a href=" https://orcid.org/0000-0002-9838-0974"><img class="svg" src="{{get_url(path="/media/orcid.svg")}}" alt="Orcid"></a>
        <a href="https://arxiv.org/a/louvet_a_1.html"><img class="svg" src="{{get_url(path="/media/arxiv.svg")}}" alt="ArXiv"></a>
        <a href="https://mathstodon.xyz/@louveta" rel="me"><img class="svg" src="{{get_url(path="/media/mastodon.svg")}}" alt="Mastodon"></a>
      </div>
    </aside>
    <nav class="menu-phone">
      <a href="/">About</a>
      <a href="{{ get_url(path="@/publications/_index.md") }}">Publications</a>
      <a href="{{ get_url(path="@/talks/_index.md") }}">Talks</a>
      <a href="{{ get_url(path="@/teaching/_index.md") }}">Teaching</a>
      <a href="{{ get_url(path="@/blog/_index.md") }}">Misc</a>
      <br>
    </nav>
    <footer>
      <a href="https://gitlab.com/louveta"><img class="svg" src="{{get_url(path="/media/gitlab.svg")}}" alt="Gitlab"></a>
      <a href=" https://orcid.org/0000-0002-9838-0974"><img class="svg" src="{{get_url(path="/media/orcid.svg")}}" alt="Orcid"></a>
      <a href="https://louveta.gitlab.io"><img class="svg" src="{{get_url(path="/media/arxiv.svg")}}" alt="ArXiv"></a>
      <a href="https://mathstodon.xyz/@louveta" rel="me"><img class="svg" src="{{get_url(path="/media/mastodon.svg")}}" alt="Mastodon"></a>
    </footer>
    <section class="section">
      <div class="container">{% block content %} {% endblock %}</div>
    </section>
  </body>
</html>
