{% extends "base.html" %} {% block content %}
<h1 class="title">About me</h1>
<ul>
  <li>
    I'm a PhD student in
    <a href="https://lipn.univ-paris13.fr/en/home/">LIPN</a> (<a
      href="https://en.univ-paris13.fr/"
      >Université Paris 13</a
    >) and <a href="https://crest.science/">CREST</a> (<a
      href="https://www.ensae.fr/"
      >ENSAE</a
    >) working on algorithms for high dimensional geometric data supported by
    grant <a href="https://lipn.univ-paris13.fr/~mustafa/ANR-ADDS/">ANR ADDS</a>
  </li>
  <li>
    I'm working with
    <a href="https://lipn.univ-paris13.fr/~mustafa/index.html">Nabil Mustafa</a>
    and <a href="https://vebrunel.com/">Victor-Emmanuel Brunel</a> as my
    supervisors
  </li>
  <li>
    My main research interest is data approximation, but I'm generally interested in Algorithmics, Combinatorics, Geometry and Statistics questions
  </li>
</ul>
<!--h2>News</h2>
<ul>
  <li>
    During the Fall semester of 2023, I'm staying at the <a href="https://erdoscenter.renyi.hu/">Erdős Center</a> of the <a href="https://renyi.hu/en?">Alfréd Rényi Institute of Mathematics</a> in Budapest.
  </li>
</ul-->

<p>Contact: louvet[at]lipn[dot]univ-paris13[dot]fr</p>

{% endblock content %}
