{% extends "base.html" %} {% block content %}
<h1 class="title">Publications of {{ section.title }}</h1>
<ul>
  {% for page in section.pages %} 
  <li>
    <h3 class="publication-title"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h3>
    {% if page.extra['links']%}
      {% for link in page.extra['links'] %}
        {% if link[2]%}
          <a href="{{get_url(path=link[1])}}" class="publication-link">{{link[0]}}</a>
        {% else %}
          <a href="{{link[1]}}" class="publication-link">{{link[0]}}</a>
        {% endif %}
      {% endfor %}
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock content %}
