{% extends "base.html" %} {% block content %}
<h1 class="title">{{ page.title }}</h1>
<p class="subtitle"><strong>{{ page.date }}</strong></p>
<div class="authors">
    {% for author in page.extra['authors'] %}
        <span class="author-name">{{author}}</span>
    {% endfor %}
</div>
{{ page.content | safe }} 
{% if page.extra['links']%}
    {% for link in page.extra['links'] %}
        {% if link[2]%}
            <a href="{{get_url(path=link[1])}}" class="publication-link-page">{{link[0]}}</a>
        {% else %}
            <a href="{{link[1]}}" class="publication-link-page">{{link[0]}}</a>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock content %}
