{% extends "base.html" %} {% block content %}
<h1 class="title">{{ section.title }}</h1>
<ul>
  {% for page in section.pages %}
    {% if not page.lower or page.lower.year != page.year %}
    <h2 class="date-name"><a class="not-a-link" href="{{ page.components[1] }}">{{ [page.year] }}</a></h2>
    {% endif %}
      <li>
        <h3 class="publication-title"><a href="{{ page.permalink | safe }}">{{ page.date }} - {{ page.title }}</a></h3>
        {% if page.extra['links']%}
          {% for link in page.extra['links'] %}
            <a href="{{link[1]}}" class="publication-link">{{link[0]}}</a>
          {% endfor %}
        {% endif %}
      </li>
  {% endfor %}
</ul>
{% endblock content %}
