{% extends "base.html" %} {% block content %}
<h1 class="title">Teaching of {{ section.title }}</h1>
<ul>
  {% for page in section.pages | reverse %} 
  <li>
    <p>
      {% if page.content %}
      <h3 class="class-title"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h3>
      <span>{{ page.extra['university'] }}, {{page.extra['level']}}</span><br />
      {% if page.extra['professor'] %} {% if page.extra['prof_website'] %}
      <span>
        TA for
        <a href="{{page.extra['prof_website']}}">{{page.extra['professor']}}</a>
      </span>
      {% else %}
      <span>TA for {{page.extra['professor']}}</span>
      {% endif %} {%endif%} {% else %}
      <h3 class="class-title">{{ page.title }}</h3>
      <span>{{ page.extra['university'] }}, {{page.extra['level']}}</span><br />
      {% if page.extra['professor'] %} {% if page.extra['prof_website'] %}
      <span>
        TA for
        <a href="{{page.extra['prof_website']}}">{{page.extra['professor']}}</a>
      </span>
      {% else %}
      <span>TA for {{page.extra['professor']}}</span>
      {% endif %} {%endif%} {% endif %}
    </p>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
