{% extends "base.html" %} {% block content %}
<h1 class="title">{{ page.title }}</h1>
<p class="subtitle">
  <strong
    >{{ page.extra['semester'] }} - {{ page.extra['university'] }},
    {{page.extra['level']}}</strong
  >
</p>
{% if page.extra['professor'] %} {% if page.extra['prof_website'] %}
<p>
  TA for
  <a href="{{page.extra['prof_website']}}">{{page.extra['professor']}}</a>
</p>
{% else %}
<p>TA for {{page.extra['professor']}}</p>
{% endif %} {%endif%} {{ page.content | safe }} {% endblock content %}
